*{
		margin:0;
		padding:0;
}
.header{
	background-image: url(imagenes/bg.jpeg);
	margin: auto;
}	
.header img{
    width: 150px;
    position: relative;
    left: 150px;
    top:20px;
}
.header nav{
	width: 80;
}
.header ul{
	list-style-type: none;
	height: 80%;
}
.header ul li {
	float: right;
	margin:0 30px 0 3px;
	color: #CACCCD;
	position: relative;
	bottom: 30px;
	right: 150px;
}
.header .A{
	position: relative;
	left: 15px;
	margin-top: 40px;
}
.header h1{
	text-align: center;
	color:#CACCCD;
	font-size: 40px;
	margin
}
.header button{
	position: relative;
	left:460px;
}
.header h2{
	text-align: center;
	font-size: 15px;
	color:#CACCCD;
	padding-bottom: 20px;
}
.main{
	text-align: center;
	margin: 15px 0;
	padding-top: 5px;
}
.main h3{
	font-size: 20px;
	font-weight: bold;
}
.main h5{
	font-size: 10px;
}
.seccion{
	background: #CACCCD;
	text-align: center;
}
.seccion h2{
	font-size: 20px;
	font-weight: bold;
	padding-top:40px; 
}
.seccion h5{
	font-size: 10px;
	margin: 5 15px;
}
.seccion h6{
	font-size: 10px;
	padding-bottom: 35px;
}

.contacto .col-md-5{
    font-size: 15px;
    text-align: right;
    padding-bottom: 25px;
}
.contacto h3{
    font-size: 15px;
}

.contacto h4{
    font-size: 13px;
    font-weight: bold;
}
footer .panel-default{
	background: black;
	color:#CACCCD;
	text-align: center;
}